.box {
    width: 500px;
    height: 300px;
    border: 1px solid black;
    left: 50%;
    position: absolute;
    margin: auto;
    top: 10%;
    overflow: hidden;
}

.circle1 {
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: lightblue;
    display: inline-block;
    left: 5%;
    top: -51px;
    animation-name: circle1;
    animation-duration: 4s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}

@keyframes circle1 {
    0% {
        top: -51px;
    }

    50% {
        top: 200px;
    }

    100% {
        top: -51px;
    }

}
.circle2 {
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: lightcoral;
    display: inline-block;
    left: 10%;
    top: -51px;
    animation-name: circle1;
    animation-duration: 4s;
    animation-delay: -0.5s;
    animation-iteration-count: infinite;
}
.circle3 {
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: lightcyan;
    display: inline-block;
    left: 15%;
    top: -51px;
    animation-name: circle1;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}
.circle4 {
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: lightgoldenrodyellow;
    display: inline-block;
    left: 20%;
    top: -51px;
    animation-name: circle1;
    animation-duration: 4s;
    animation-delay: 1.5s;
    animation-iteration-count: infinite;
}
.circle5 {
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: lightgreen;
    display: inline-block;
    left: 25%;
    top: -51px;
    animation-name: circle1;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}
.circle6 {
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: lightpink;
    display: inline-block;
    left: 30%;
    top: -51px;
    animation-name: circle1;
    animation-duration: 4s;
    animation-delay: 2.5s;
    animation-iteration-count: infinite;
}